// Brand colors
$color-white: #ffffff;
$color-black: #000000;
//
$color-green: #008200;
$color-red: #ff2b00;
$color-golden-yellow: #fecb00;
$color-orange: #ff7900;
$color-aquamarine-blue: #2a6ebb;
$color-ultraviolet: #8e258d;

// Aplicated colors
$color-text: $color-black;
$color-background: $color-white;
//
$color-primary: $color-green;
$color-secondary: $color-red;

